/**
 * Test app styles
 */

.sample-label {
    font-weight: 600;
    margin-right: 0.5rem;
}

.editor-page-section, .editor-page-section > div {
    height: 100%;
}

span.selection-property:not(:empty)::before {
    content: "@";
}