.__main_form > .form__section {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
}

.__main_form .form__sectionbody {
    padding: 15px;
}

.__main_form .form__section .pf-v6-c-form__group {
    gap: 0;
}